
body {
  min-height: -webkit-fill-available !;
  min-height: 100vh;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}


a:hover{
  color:black !important;
}
.nav-link {
  color: black !important;
  font-weight: 600;
}
.nav-link:hover{
  color:#e55935 !important;
  background-color: #e3e3e3 !important;
}
.active{
  color: #e55935 !important;
  font-weight: 600 !important;
  background-color: #e3e3e3 !important;
}

p{
  color: white !important;
}

.coluna{
  background-color: #206779 !important;
  text-align: left !important;
  height: 100vh;
  width: 280px;
}
 svg:hover{
  color: #e55935 !important;
 }

 .painel h1{
  color: #206779 ;
 }
 .pagina-cliente{
  margin-top: 25px;
 }
 .cliente{
  padding-bottom: 25px;
 }
 .tabela{
  border: 5px #206779 solid ;
  margin-bottom: -1px !important;
  border-radius: 5px;
 }
 .table{
  margin-bottom: 0px !important;
 }